<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carte des Boissons</title>
    <link rel="stylesheet" href="/drinks.css">
</head>
<body>
    <div class="menu">
        <h2>Carte des Boissons</h2>
        
        <h3>Boissons Chaudes</h3>
        <ul>
            <li><span>Café <i class="quantity">(25cl)</i></span> <span class="price">2.50€</span></li>
            <li><span>Thé <i class="quantity">(30cl)</i></span> <span class="price">2.00€</span></li>
            <li><span>Chocolat chaud <i class="quantity">(30cl)</i></span> <span class="price">3.00€</span></li>
        </ul>
        
        <h3>Boissons Froides</h3>
        <ul>
            <li><span>Soda <i class="quantity">(33cl)</i></span> <span class="price">2.50€</span></li>
            <li><span>Eau minérale <i class="quantity">(50cl)</i></span> <span class="price">1.50€</span></li>
            <li><span>Jus de goyave <i class="quantity">(30cl)</i></span> <span class="price">3.00€</span></li>
            <li><span>Jus de maracuja <i class="quantity">(30cl)</i></span> <span class="price">3.50€</span></li>
        </ul>
        
        <h3>Boissons pour Enfants</h3>
        <ul>
            <li><span>Sirop à l'eau <i class="quantity">(25cl)</i></span> <span class="price">1.00€</span></li>
            <li><span>Lait chocolaté <i class="quantity">(30cl)</i></span> <span class="price">2.00€</span></li>
        </ul>
        
        <h3>Smoothies</h3>
        <ul>
            <li><span>Fraise-banane <i class="quantity">(30cl)</i></span> <span class="price">4.00€</span></li>
            <li><span>Mangue-passion <i class="quantity">(30cl)</i></span> <span class="price">4.50€</span></li>
        </ul>
        
        <h3>Cocktails</h3>
        <ul>
            <li><span>Mojito <i class="quantity">(40cl)</i></span> <span class="price">6.50€</span></li>
            <li><span>Pina Colada <i class="quantity">(40cl)</i></span> <span class="price">7.00€</span></li>
            <li><span>Tequila Sunrise <i class="quantity">(40cl)</i></span> <span class="price">7.50€</span></li>
        </ul>
        
        <h3>Boissons Alcoolisées</h3>
        
        <h4>Bière</h4>
        <ul>
            <li><span>Heineken <i class="quantity">(33cl)</i></span> <span class="price">4.50€</span></li>
            <li><span>Bouteille <i class="quantity">(75cl)</i></span> <span class="price">8.50€</span></li>
            <li><span>Corona <i class="quantity">(33cl)</i></span> <span class="price">5.00€</span></li>
            <li><span>Bouteille <i class="quantity">(75cl)</i></span> <span class="price">9.00€</span></li>
        </ul>
        
        <h4>Vins</h4>
        <ul>
            <li><span>Vin rouge <i class="quantity">(15cl)</i></span> <span class="price">5.00€</span></li>
            <li><span>Bouteille vin rouge <i class="quantity">(75cl)</i></span> <span class="price">25.00€</span></li>
            <li><span>Vin blanc <i class="quantity">(15cl)</i></span> <span class="price">5.00€</span></li>
            <li><span>Bouteille vin blanc <i class="quantity">(75cl)</i></span> <span class="price">25.00€</span></li>
        </ul>
        
        <h4>Champagne</h4>
        <ul>
            <li><span>Moët & Chandon <i class="quantity">(12cl)</i></span> <span class="price">12.00€</span></li>
            <li><span>Bouteille <i class="quantity">(75cl)</i></span> <span class="price">70.00€</span></li>
        </ul>
        
        <h4>Rhum</h4>
        <ul>
            <li><span>Rhum vieux <i class="quantity">(4cl)</i></span> <span class="price">6.00€</span></li>
            <li><span>Bouteille <i class="quantity">(75cl)</i></span> <span class="price">50.00€</span></li>
            <li><span>Rhum arrangé <i class="quantity">(4cl)</i></span> <span class="price">5.00€</span></li>
            <li><span>Bouteille <i class="quantity">(75cl)</i></span> <span class="price">45.00€</span></li>
        </ul>
        
        <h4>Whisky</h4>
        <ul>
            <li><span>Jack Daniel's <i class="quantity">(4cl)</i></span> <span class="price">7.00€</span></li>
            <li><span>Bouteille <i class="quantity">(75cl)</i></span> <span class="price">55.00€</span></li>
            <li><span>Chivas Regal <i class="quantity">(4cl)</i></span> <span class="price">8.00€</span></li>
            <li><span>Bouteille <i class="quantity">(75cl)</i></span> <span class="price">60.00€</span></li>
        </ul>
    </div>
</body>
</html>
