<%- include('./partials/header.ejs')  %>

    <main>

      <h1 class="legal_info" data-translate="about.legal">
        Mentions Légales
        <span class="law info" data-translate="about_span"
          >En vertu de l’article 6 de la Loi n°2004-575 du 21 juin 2004 pour la
          Confiance dans l’Economie Numérique (LCEN), il est précisé que notre
          site internet est édité par CBO</span
        >
      </h1>

      <h2 class="identification second_title" data-translate="about.id_title">
        Identification de l'entreprise
      </h2>

      <table class="business_ID" data-translate="about.kbis">
        <tbody>
          <tr>
            <th scope="row" data-translate="about.society">Société</th>
            <td data-translate="about.name">Brun'itos</td>
          </tr>

          <tr>
            <th scope="row" data-translate="about.add_row">Adresse postale</th>
            <td data-translate="about.address">
              Addresse - Suite - Code postale
            </td>
          </tr>

          <tr>
            <th scope="row" data-translate="about.phone_row">Téléphone</th>
            <td data-translate="about.phone">01 01 01 01 01</td>
          </tr>

          <tr>
            <th scope="row" data-translate="about.email_row">Courriel</th>
            <td data-translate="about.email">brunitos@gmx.fr</td>
          </tr>

          <tr>
            <th scope="row" data-translate="about.id_row">
              Immatriculée au RCS ou SIREN
            </th>
            <td data-translate="about.id_numb">888 888 888</td>
          </tr>

          <tr>
            <th scope="row" data-translate="about.siret_row">SIRET</th>
            <td data-translate="about.siret">88 88 88 88 88 88 88</td>
          </tr>

          <tr>
            <th scope="row" data-translate="about.ape_row">Code APE</th>
            <td data-translate="about.ape">5510Z</td>
          </tr>

          <tr>
            <th scope="row" data-translate="about.socialcap_row">
              Capital social
            </th>
            <td data-translate="about.social_cap">€ 10 000</td>
          </tr>

          <tr>
            <th scope="row" data-translate="about.tva_row">
              N° d'identification à la TVA
            </th>
            <td data-translate="about.tva_numb">FR111 111 111 11</td>
          </tr>

          <tr>
            <th scope="row" data-translate="about.owner_row">
              Responsable légal
            </th>
            <td data-translate="about.owner">AKA</td>
          </tr>
        </tbody>
      </table>

      <h2 class="data second_title" data-translate="about.data">
        Protection des données personnelles
      </h2>

      <p class="law info" data-translate="about.prive_data">
        Toutes les données collectées sur ce site, par quelque moyen que ce
        soit, sont à l'usage réservé de la société BRUN'ITOS.
        <br />
        <br />
        Conformément à l'article 34 de la loi 78-17 Informatique et Libertés du
        6 janvier 1978 modifiée et le Règlement Général sur la Protection des
        Données (Règlement UE 2016/679) ou « RGPD », vous disposez d'un droit
        d'accès, de modification, de rectification et de suppression des données
        vous concernant.
        <br />
        <br />
        Pour exercer ce droit, contactez-nous par e-mail à : brunitos@gmx.fr
      </p>

      <h2 class="payments second_title" data-translate="about.payments">
        Paiement sécurisé
      </h2>

      <p class="paiement info" data-translate="about.paiement_info">
        Pour vos transactions financières, notre site utilise une solution de
        paiement externe.
        <br />
        <br />
        Avec ce système, votre paiement par carte de crédit s'effectue
        directement sur le serveur sécurisé de la banque en ligne.
        <br />
        <br />
        À aucun moment, votre numéro de carte de crédit ne sera communiqué à
        BRUN'ITOS.
      </p>

      <h2 class="copyrights second_title" data-translate="about.copyrights">
        Copyrights
      </h2>
      <p class="copy info" data-translate="about.copyrights_info">
        Tous droits réservés ©CBO.
        <br />
        <br />
        Tous droits de reproduction et de diffusion réservés ©CBO.
      </p>

    </main>
    <%- include('./partials/footer.ejs')  %>
