<%- include('./partials/header.ejs')  %>

    <title>UX-IX Spaces</title>
    <link rel="stylesheet" href="../css/contact.css">

        <h1>UX-IX Contacts</h1>
    </header>

    <section class="services">
        <h2>Nos enseignes</h2>
        <ul>
            <div class="business">
                <a href=""><h2>Fast food</h2></a>
                <a href="tel:+">00 00 00 00 00</a>
                <a href="mailto:">biggy@gmx.fr</a>
                <address>Bâtiment A</address>
            </div>

            <div class="business">
                <a href=""><h2>Gastro'nomics</h2></a>
                <a href="tel:+">00 00 00 00 00</a>
                <a href="mailto:">gastronomics@gmx.fr</a>
                <address>Bâtiment B</address>
            </div>

            <div class="business">
                <a href="http://localhost:3000/"><h2>Brunito's</h2></a>
                <a href="tel:+">00 00 00 00 00</a>
                <a href="mailto:">brunitos@gmx.fr</a>
                <address>Bâtiment C</address>
            </div>

            <div class="business">
                <h2>Souvenir's's</h2>
                <a href="tel:+">00 00 00 00 00</a>
                <a href="mailto:">souvenirs@gmx.fr</a>
                <address>Bâtiment D</address>

            <div class="business">
                <h2>Veg'tals</h2>
                <a href="tel:+">00 00 00 00 00</a>
                <a href="mailto:">itals@gmx.fr</a>
                <address>Bâtiment E</address>
            </div>

            <div class="business">
                <h2>AYCE</h2>
                <a href="tel:+">00 00 00 00 00</a>
                <a href="mailto:">ayce@gmx.fr</a>
                <address>Bâtiment F</address>
            </div>

            <div class="business">
                <h2>D'place</h2>
                <a href="tel:+">00 00 00 00 00</a>
                <a href="mailto:">chillspace@gmx.fr</a>
                <address>Bâtiment G</address>
            </div>
            </div>
        </ul>
    </section>
</body>
</html>
