/* Mise en page mobile-first*/

.legal_info , span, .second_title, table, p {
    margin: 0 2rem;
}

.legal_info {
    margin: 2rem;
    color: var(--gold-color);
}

span.law.info {
    margin-top: 7px;
    color: rgb(23, 21, 21);
    font-size: 12px;
    display: flex;
    align-content: center;
    font-style: italic;
    font-weight: 300;
}

.second_title {
    color: var(--green-color);
    margin: 3rem auto 1rem 2rem;
}

/* Style du tableau */
table.business_ID {
    width: 80%; /* Le tableau occupe 80% de la largeur */
    margin: 2rem auto; /* Centre le tableau horizontalement */
    border-collapse: separate; /* Ajoute un espace entre les cellules */
    border-spacing: 8px; /* Légers écarts entre les lignes et les colonnes */
    background-color: transparent; /* Pas de couleur de fond */
}

/* Chaque ligne a une couleur différente */
table.business_ID tr:nth-child(odd) {
    background-color: #e5e4e4; /* Couleur pour les lignes impaires */
}

table.business_ID tr:nth-child(even) {
    background-color: #f1e9cd; /* Couleur pour les lignes paires */
}

/* Centrer le contenu des cellules */
table.business_ID th,
table.business_ID td {
    text-align: left; /* Texte aligné à gauche */
    padding: 0.8rem; /* Espacement intérieur */
    font-size: 0.9rem; /* Taille du texte */
}

/* Supprimer les bordures des cellules */
table.business_ID th,
table.business_ID td {
    border: none; /* Aucune bordure sur les cellules */
}


/* Responsive Design - Adaptation pour petits écrans */
@media (max-width: 768px) {
    table.business_ID {
        width: 90%; /* Prend plus de place sur petits écrans */
    }

    table.business_ID th,
    table.business_ID td {
        font-size: 0.8rem; /* Réduction de la taille du texte */
        padding: 0.6rem; /* Espacement plus petit */
    }
}


/* Mode nuit */
body.dark-mode .legal_info {
    color: var(--dark-gold-color);
}

body.dark-mode .second_title {
    color: var(--dark-green-color);
}

body.dark-mode table.business_ID tr:nth-child(odd) {
    background-color: rgba(50, 50, 50, 0.8);
}

body.dark-mode table.business_ID tr:nth-child(even) {
    background-color: rgba(70, 70, 70, 0.8);
}

body.dark-mode p {
    color: var(--dark-text-color);
}

body.dark-mode span.law.info {
    color: grey;
}