/* Mise en page mobile-first*/
body {
    line-height: 1.6;
}

.auth_title {
    background-color: darkblue;
    color: var(--gold-color);
    padding: 5px;
    text-align: center;
}

.menu-btn {
    display: block;
    cursor: pointer;
    width: 25px;
    height: 18px;
    position: relative;
}

.menu-btn span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: whitesmoke;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

.menu-toggle:checked + .menu-btn + .navLinks {
    display: flex;
}

form {
    position: relative;
    width: 300px;
    max-width: 400px;
    margin: 50px auto;
    background: whitesmoke;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

form input:focus {
    border-color: goldenrod;
}


form label {
    position: relative;
    top: -10px;
    left: 50px;
    background: whitesmoke;
    color: #aaa;
    font-size: 16px;
    padding: 0 5px;
    transition: transform 0.2s ease, color 0.3s ease;
    pointer-events: none;

}

form input:focus + label {
    color: var(--gold-color);
    transform: translateY(-10px);
    background-color: white;
    padding: 0 5px;
}


form .btn {
    background-color: var(--gold-color);
    color: rgb(75, 68, 68);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

form .btn:hover {
    background-color: var(--green-color);
    color: whitesmoke;
}

.btn_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}

form .register {
    background-color: rgb(5, 5, 87);
    color: whitesmoke;
    width: 70%;
}

form .register:hover {
    background-color: var(--gold-color);
    color: rgb(23, 11, 11);
}

.info_pws {
    text-align: center;
}

/* Tablet styling */
@media (min-width: 600px) {
    .navLinks {
        flex-direction: row;
        justify-content: center;
    }

    .menu-btn {
        display: none;
    }

    .navLinks {
        display: flex;
    }
}

/* Desktop styling */
@media (min-width: 1024px) {
    nav.navbar {
        padding: 10px 40px;
    }

    form {
        width: 350px;
    }
}



/* --- Mode Nuit --- */
body.dark-mode .auth_title {
    background-color: rgb(33, 33, 33); /* Darkmode background */
    color: rgb(153, 121, 24); /* Texte */
  }
  
  body.dark-mode form {
    background-color: rgb(33, 33, 33); /* Darkmode background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7); /* Ombres */
  }
  
  body.dark-mode form input {
    border: 1px solid rgb(103, 158, 60); /* Bordure */
    background-color: rgb(33, 33, 33); /* Darkmode background */
    color: rgb(220, 220, 220); /* Texte */
  }
  
  body.dark-mode form input:focus {
    border-color: rgb(153, 121, 24); /* Bordure */
  }
  
  body.dark-mode form label {
    color: rgb(153, 121, 24); /* Couleur label */
    background-color: rgb(33, 33, 33); /* Darkmode background */
  }
  
  body.dark-mode form .btn {
    background-color: rgb(103, 158, 60); /* Darkmode background */
    color: rgb(220, 220, 220); /* Texte */
  }
  
  body.dark-mode form .btn:hover {
    background-color: rgb(153, 121, 24); /* background survol */
    color: black; /* Couleur du text */
  }
  
  body.dark-mode form .register {
    background-color:var(--dark-red-color); /* Darkmode */
    color: rgb(220, 220, 220); /* Texte */
  }
  
  body.dark-mode form .register:hover {
    background-color: rgb(3, 3, 69); /* Couleur de fond */
    color: var(--gold-color); /* Texte darkmode */
  }
  

  body.dark-mode form .forget_psw {
    color: whitesmoke;
    text-decoration: underline var(--green-color);
  }