div.uxui_nav {
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #0d47a1, #42a5f5);
    padding: 15px;
}

.uxui_home {
    color: whitesmoke;
    font-weight: bold;
}

.uxui_home:visited {
    color: whitesmoke;
}


.uxui_home:hover {
    font-size: 1.1rem;
    color: goldenrod;
}