<%- include('./partials/header.ejs')  %>


    <main>

      <form class="auth_form" action="/profil" method="get">

        <h2 class="auth_title">Se connecter</h2>

        <input type="varchar"><label class="label" for="identification">Email ou Téléphone</label>
        <br>
        <input type="password"><label class="label"  for="password">Mot de passe</label>
        <a href="/motdepasse">
          <i class="forget_psw" data-translate="auth.lost_psw">Mot de passe oublié</i>
        </a>

        <div class="btn_group">
          <input type="submit" id="submit-button" value="Se connecter" class="btn" data-translate="connection.submit_btn">
        
          <button type="button" id="register-button" class="btn register" data-translate="auth.register_redirection_btn" onclick="window.location.href='/inscription'">
            Créer un compte
          </button>
        </div>

  
      </form>


    </main>

    <%- include('./partials/footer.ejs')  %>
