<%- include('./partials/header.ejs')  %>
<link rel="stylesheet" href="../css/delivery_payment_choice.css">

<main>
    <form action="/confirm-order" method="POST">
        <h1>Mode de consommation et Paiement  </h1>
        <h2>Heure souhaitée de mise à disposition</h2>
        <select id="timeSlot" name="time_slot">
            <!-- Options générées dynamiquement -->
        </select>

        <h2>Choisissez votre mode de consommation</h2>
        <label>
            <input type="radio" name="delivery_method" value="livraison" required checked> Livraison (pas d'espèces)
        </label>
        <label>
            <input type="radio" name="delivery_method" value="sur_place"> Sur place
        </label>
        <label>
            <input type="radio" name="delivery_method" value="a_emporter"> À emporter
        </label>

        <div id="delivery_address">
            <h2>Indiquez l'addresse de livraison</h2>
            <label>
                <input type="radio" name="delivery_address" value="saved"> Utiliser une adresse enregistrée
            </label>
            
            <label>
                <input type="radio" name="delivery_address" value="temp"> Entrer une nouvelle adresse
            </label>
            
            <div id="temp-address-fields" style="display: none;">
                <input type="text" name="street" placeholder="Rue" required>
                <input type="text" name="street_number" placeholder="Numéro">
                <input type="text" name="additional_line" placeholder="Complément d'adresse">
                <input type="text" name="postal_code" placeholder="Code postal" required>
                <input type="text" name="city" placeholder="Ville" required>
            
                <label>
                    <input type="checkbox" name="save_address"> Enregistrer cette adresse pour plus tard
                </label>
            </div>
        </div>
       
    
        <h2>Choisissez votre moyen de paiement</h2>
        <label>
            <input type="radio" name="payment_method" value="carte_bancaire" required checked>
            <span>Carte Bancaire</span>
        </label>
        <label>
            <input type="radio" name="payment_method" value="crypto">
            <span> Crypto</span>
            <p class="payment_address">0x0000000000000000</p>
        </label>
        <label>
            <input type="radio" name="payment_method" value="virement">
            <span>Virement immédiat</span>
            <p class="payment_address">IBAN Number</p>
        </label>
        <label>
            <input type="radio" name="payment_method" value="paylib">
            <span>Paylib</span>
            <p class="payment_address">00 00 00 00 00</p>
        </label>
        <label>
            <input type="radio" name="payment_method" value="especes" id="cashPayment" disabled>
            <span>Espèces (hors livraison)</span>
        </label>
    
        <button class="confirm" type="submit">Valider ma commande</button>
        <a href="/panier" class="cancel">Retour au panier</a>
    </form>
</main>

<script src="../script/order_page.js"></script>
<script src="../script/delivery_payment.js"></script>

<%- include('./partials/footer.ejs')  %>
