<%- include('./partials/header.ejs')  %>


    <main>
      <p>Me servira de page pour lister toutes les commandes récupérées dans la BDD</p>
    </main>

    <%- include('./partials/footer.ejs')  %>
