<%- include('./partials/header.ejs')  %>


    <main>
      
      <form action="" method="post">
        <h2 class="auth_title">Créer un compte</h2>

        <input type="email"><label for="email" data-translate="register.email">Email</label>
        <br>
        <input type="tel"><label for="phone" aria-required="true" data-translate="register.phone">Téléphone</label>
        <br>
        <input type="text"><label for="firstname" aria-required="true" data-translate="register.aka">Prénom ou AKA</label>
        <br>
        <input type="varchar"><label for="lastname" data-translate="register.lastname">Nom</label>

        <input type="text" name="street_number" placeholder="Numéro de rue">
        <input type="text" name="street" placeholder="Nom de rue">
        <input type="text" name="additional_line" placeholder="Complément d'adresse">
        <input type="text" name="postal_code" placeholder="Code postal">
        <input type="text" name="city" placeholder="Ville">

        <input type="password"><label for="password" data-translate="register.psw">Mot de passe</label>
        <input type="password"><label for="password_conf" data-translate="register.psw_conf">Confirmation du mot de passe</label>

        <input type="submit" id="submit-button" value="Créer un compte" class="btn" data-translate="resister.register_submit_btn">
      </form>

    </main>
    <%- include('./partials/footer.ejs')  %>
