<%- include('./partials/header.ejs')  %>

    <main>

      <form action="" method="post">

        <h2 class="auth_title">Modifier mon mot de passe</h2>
        
        <input type="varchar"><label for="identification" data-translate="reset.identification">Email ou Téléphone</label>
        <br>
        <i class="info_pws" data-translate="reset_link">Nous allons vous envoyer un lien pour modifier votre mot de passe.</i>
        <div class="btn_group">
          <input type="submit" id="submit-button" value="Envoyer" class="btn" data-translate="connection.submit_btn">
        
        </div>
      </form>

    </main>

    <%- include('./partials/footer.ejs')  %>
